body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0ece9;
}

#grid-container{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: auto auto auto auto;
    height: 100vh;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;

    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    nav{
        ul{
            display: flex;
            gap: 1rem;
            text-decoration: none;
        }
    }
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
}


#mansory-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    h2{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}

footer{
    grid-column: 1/4;
    grid-row: 4/4;
}

#natur, #science, #animal, #tech, #culture, #history, #geo, #food{
    padding:3rem;
    border-radius: 10px;
    margin: 0.5rem;
}

#natur{
        background-color: hsl(146, 52%, 72%);
        grid-column: 1/3;
        grid-row: 2/4;
    }
    
    #science{
        background-color:hsl(0, 0%, 100%);
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #animal{
        background-color: hsl(337, 52%, 72%);
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #tech{
        background-color: hsl(204, 52%, 72%);
        grid-column: 3/5;
        grid-row: 3/4;
    }
    #culture{
        background-color: hsl(271, 52%, 72%);
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #history{
        background-color: hsl(8, 52%, 72%);
        grid-column: 2/5;
        grid-row: 4/5;
    }
    #geo{
        background-color: hsl(168, 52%, 72%);
        grid-column: 3/5;
        grid-row: 4/5;
    }
    #food{
        background-color: hsl(30, 52%, 72%);
        grid-column: 4/5;
        grid-row: 4/5;
    }

