@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

#grid-container{
    display: grid;
    grid-template-areas: "header"
                         "hero"
                         "main"
                         "aside"
                         "footer";
}

header{
    grid-area: header;
    background-color: rgb(93, 116, 158);
}

#logo{
    font-size: 2rem;
    text-decoration: none;
}

#flex-nav{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    list-style: none;
    li a{
        color: #ffffff;
        text-decoration: none;
        justify-content: baseline;
    }
}

#hero{
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3dbdb;
    padding: 1rem;
    color: rgb(93, 116, 158);
}

main{
    grid-area: main;
    background-color: aliceblue;
    padding: 1rem;
    article ul li{
        list-style: none;
    }
}

aside{
    grid-area: aside;
    background-color: rgb(93, 116, 158);
    padding: 1rem;
}

footer{
    grid-area: footer;
}

.flex-items{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}