@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header: #8b445c;
    --first-section: #e8dfca;
    --main: #e8dfca;
    --footer: #482c3d;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Funnel Sans", sans-serif;
    margin: 0;
}

a{
    display: inline-block;
    color:#e8dfca;
    text-decoration: none;
    padding: 1rem;
}

img{
    width: 100%;
}

#global-header{
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        ul{
            list-style: none;
            li{
               a{
                text-decoration: none;
                color:#e8dfca
               } 
            }
        }
    }
}

#mainlogo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #e8dfca;
    text-decoration: none;

}

#hero{
    min-height: 300px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-color: #e8dfca;
}

.highlight{
    display: flex;
    padding: 0rem;
    flex-wrap: wrap;
    background-color: var(--first-section);
    border-bottom: 1px solid #482c3d;
    color: #482c3d;

    >*{
        width: 50%;
        min-width: 350px;
        flex-grow: 1;
    }

    figure{
        margin: 0;
        img{
            height: 100%;
        }
    }

    section{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}



.highlight:nth-child(even){
    flex-direction: row-reverse;
}


main{
    background-color: var(--main);
    grid-area: main;
    color: #482c3d;
}

#services{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    background-color: #e8dfca;

    h2{
        width: 100%;
    }
}

.service-card{
    width: 33%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    flex-grow: 1;

        i{
            min-width: 50px;
            min-height: 50px;
            padding: 0.5rem;
            border-radius: 100%;
            border: 1px solid #482c3d;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

.btn{
    background-color: #482c3d;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.hidden{
    display: none;
}

#menu{
    list-style: none;
    margin: 0;

    li:first-child{
        top: 20px;
        right: 20px;
        position: absolute;
    }
}

#close{
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/*.btn:hover,
.btn:focus{
    filter: brightness(1.1);
    outline: 2px solid currentColor;        
    outline-offset: 2px;
    } */


footer{
    background-color: var(--footer);
    grid-area: footer;
    color: #e8dfca;
}



.icon-btn{
    background-color: transparent;
    border: none;
    i {
        font-size: 18px;
    }
}

@media only screen and (min-width: 789px){

    #services{
        h2{
            text-align: center;
        }

    }
    .service-card{
        max-width: 450px;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width:600px){
    #menu{
        background-color: #482c3d;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 2rem;
    }
}


@media only screen and (min-width: 600px){
   
    header{
        display: flex;
        justify-content: space-between;
    }

    .hidden{
        display: inline-block;
    }

    .btn:hover{
        background-color: #482c3d;
        color: #e8dfca;
    }

    #menu{
        display: flex;
        gap: 1rem;

        li a:hover{
            text-decoration: underline;
        }
    }

    #ham{
        display: none;
    }

    #close{
        display: none;
    }

    .group{
        display: none;
    }
}
