:root{
    --main: #f5efe6;
    --aside: #e8dfca;
    --header: #cbdceb;
    --footer: #6d94c5;
}

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header,main,aside,footer{
    padding: 1rem;
}
header{
    background-color: var(--header);
}
main{
    background-color: var(--main);
}
aside{
    background-color: var(--aside);
}
footer{
    background-color: var(--footer);
}