:root{
    --main: #f5efe6;
    --aside: #e8dfca;
    --header: #cbdceb;
    --footer: #6d94c5;

    --small: clamp(14px, 1em + 1vw, 18px);
    --medium: clamp(16px, 1em + 1vw, 20px);
    --large: clamp(18px, 1em + 1vw, 24px);

}

*{
    box-sizing: border-box;
}

html{
    font-size: clamp(16px, 1em + 1vw, 30px);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
}

#grid-container{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: "topp" 
                         "hovedinnhold"
                         "sideinnhold"
                         "bunn";
}

/*
h1{
    font-size: var(--large);
}
h2{
    font-size: var(--medium);
}
h3{
    font-size: var(--small);
} */

header,main,aside,footer{
    padding: 1rem;
}
header{
    background-color: var(--header);
    grid-area: topp;
    
    nav{
        ul{
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}
main{
    background-color: var(--main);
    grid-area: hovedinnhold;
}
aside{
    background-color: var(--aside);
    grid-area: sideinnhold;
}
footer{
    background-color: var(--footer);
    grid-area: bunn;
}

.hidden{
    display: none;
}

img{
    width: 100%;
    max-width: 900px;
}

@media only screen and (max-width:600px){
    #menu {
    background-color: antiquewhite;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem;
}
}

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "topp topp"
                             "hovedinnhold sideinnhold"
                             "bunn bunn";
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .hidden{
        display: inline-block;
    }

    #menu{
        ul{
            display: flex;
            gap: 1rem;
        }
    }

    #ham{
        display: none;
    }

    #close{
        display: none;
    }
}